*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

    background: #0d1117;
    color: white;
}

#hero{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 80px 10%;
}

.hero-content{
    width: 55%;
}
.hero-image{
    width:45%;

    display: flex;
    justify-content: center;
}
.hero-image img{
    width: 320px;
    border-radius: 20px;
}

/* Navigation Bar Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #161b22;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}
.logo span{
    color: #58a6ff;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 500;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: #58a6ff;
}